html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lateralMenu {
  background-color: #ffffff;
  float: left;
  width: 240px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
}

.headerSlaca {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  font-size: 30px;
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

.menu {
  font-family: "Quicksand", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 220px;
}
.slacaMenuPhoto {
  width: 240px;
}

.menuItem {
  width: auto;
  height: 35px;
  padding: 7px 0 7px 24px;
}

.menuItemActive {
  background: #fdf1eb;
  width: 240px;
}

.menuItemActive::before {
  content: " ";
  margin: -8px 24px 0 -24px;
  height: 38px;
  width: 10px;
  display: inline-block;
  background: linear-gradient(to bottom, #ffb455 0%, #ed7839 100%);
}

header {
  width: auto;
}

hr {
  z-index: 0;
  margin: 0 0;
  width: 240px;
  height: 4px;
  color: #000000;
}

main {
  margin: 0 0 0 240px;
}

.topBar {
  background-color: #fdf1eb;
  padding: 0 5%;
}

.topBarText {
  padding-top: 5px;
  margin-bottom: 0;
  z-index: 1;
}

.topBarP {
  margin-bottom: 0;
  color: hsla(0, 11%, 40%, 1);
}

.dropdown {
  margin: 18px 3% 0 5%;
  z-index: 1;
}

#dropdownMenuButton1 {
  background: #fdf1eb;
  color: hsla(0, 0%, 20%, 1);
  border-color: hsla(0, 0%, 80%, 1);
  height: 34px;
  width: 97px;
  padding: 0 0 0 6px;
}

.dropdown-toggle::after {
  padding-left: -3px;
}

.greyBorder {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////Base classes/////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.quicksand {
  font-family: "Quicksand";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.font_size_12{
  font-size: 12px;
}

.letter_spacing_02{
  letter-spacing: 0.02em;
}
.font_size_14 {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.font_size_18{
  font-size: 18px;
  line-height: 21px;  
}

.font_size_22 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hr_margin_0 {
  margin: 0;
}

.font_weight400 {
  font-weight: 400;
}

.font_weight500 {
  font-weight: 500;
}

.font_weight700 {
  font-weight: 700;
}

.font_weight900 {
  font-weight: 900;
}

.flex {
  display: flex;
}

.space_between {
  justify-content: space-between;
}

.justify_flex_start{
  justify-content: flex-start;
}

.space_around {
  justify-content: space-around;
}

.margin_30px_30percent {
  margin: 30px 30%;
}

.roboto {
  font-family: "Roboto";
  font-style: normal;
}

.padding_left_3px {
  padding-left: 3px;
}

.margin_30p_width_70p {
  margin-left: 15%;
  width: 70%;
}

.width_90 {
  width: 90%;
}

.margin_15_0_minus15_5p {
  margin: 15px 0 -15px 5%;
}

.position_relative{
  position: relative;
}

.default_gradient_button {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  position: relative;

  padding: 7px 14px;
  z-index: 1;
}

.margin15 {
  margin: 15px;
}

.enviar_button {
  border-radius: 0;
  padding: 7px 80px;
}

.backgroung_grey {
  background: #eaf1f2;
  border: 1px solid #cccccc;
  border-radius: 0px 0px 4px 4px;
  margin-top: -4px;
}

.padding_top_minus15 {
  padding-top: -15px;
}

.width_18p{
  width: 18%;
}

.align_right{
  text-align: right;
}

.align_center {
  text-align: center;
}

.height_68px{
  height: 68px;
}

.pointer {
  cursor: pointer;
}

.text_orange{
  color: hsla(21, 83%, 58%, 1);
}

.grey_border_box{
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
}

.margin_top_15{
  margin-top: 15px;
}

.margin_top_30{
  margin-top: 30px;
}

.padding_top_35px{
  padding-top: 35px;
}
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////Base classes/////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.dpdText {
  width: 30px;
}

.welcome {
  z-index: 0;
  display: inline-flex;
}

.welcome1 {
  margin: 15px 0 0 auto;
}

.welcome2 {
  line-height: 15px;
  margin: 1px 0 17px 0;
}

.yourPhoto {
  border: none;
  border-radius: 500px;
  height: 30px;
  width: 30px;
  z-index: 2;
  color: #fdf1eb;
  background-color: #ffd2bb;
}

.mainHeaderButton {
  float: right;
  align-self: self-end;
}

.mainHeaderButton button {
  margin: 0 0 12px 5px;
  background: #ed7839;
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
  color: #ffffff;
}

.mainHeaderText {
  font-size: 20px;
  line-height: 125%;
  color: #ed7839;
  letter-spacing: 0.05em;
  width: 70%;
}

.mainBodyRight p {
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  float: left;

  text-align: left;
  letter-spacing: 0.05em;
}

.mainVideo {
  width: calc(100% - 30px);
}

.tableHeaderText {
  text-align: right;
  letter-spacing: 0.05em;

  color: #ed7839;
}

ul li {
  list-style: none;
}

.details {
  height: 410px;

  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 3px 3px;

  color: #5c5c5c;
  width: 30%;
}

.detailsHeader {
  background: #fdf1eb;
  padding: 11px 15px 9px 15px;
  font-size: 20px;
  line-height: 25px;
}

.detailsText {
  overflow-y: scroll;
  height: 364px;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}

.detailsText ul {
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: left;

  letter-spacing: 0.02em;
}

.bodyArticleBox {
  
  margin-bottom: 30px;
}


.bodyArticleHeader {
  background: #fdf1eb;

  padding: 10px 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #4e4e4e;
}

.bodyArticleText {
  letter-spacing: 0.02em;
  padding-bottom: 15px;
  color: #5c5c5c;
}

.bodyArticleButton {
  font-size: 15px;
  line-height: 16px;

  color: #ffffff;
}

.hrStyle {
  width: 100%;
  border: 1px solid #e7e7e7;
  margin: -16px 0 32px 0;
}

.textDecoration {
  text-decoration: none;
}

.textDecoration.mostrar {
  display: inline;
}

#dots:hover {
  color: #ed7839;
}

.newTopic {
  text-align: left;
  margin-top: 15px;
  padding: 17px 25px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.blurTopic {
  position: relative;
}

.blurTopic > * {
  filter: blur(3px);
}

.blurTopic::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  opacity: 0.5;
  filter: none;
}

.newTopicName {
  line-height: 15px;
  color: #5c5c5c;
  margin-bottom: 10px;
}

.commentBlock {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 0px;
  display: none;
}

.commentBlock.mostrar {
  display: block;
}

.commentBlock div {
  padding: 7px;

  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 0px;
}

.commentBlockInative {
  display: none;
}

.autor {
  background: #f8f8f8;
}

.question {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #4d4d4d;
}

.newTopicQuestion {
  color: #4d4d4d;
  margin-bottom: 11px;
}

.newTopicInsert {
  width: 100%;
}

.newTopicInsert input {
  width: 100%;
  margin-bottom: 15px;
}

.newTopicInsert textarea {
  height: 90px;
  resize: none;
  width: 100%;
}

.topicIcon {
  color: #ed7839;
}

.fa-heart {
  padding: 3px 6px;
}

.heart {
  background-color: #ed7839;
  color: #ffffff;
  height: 22px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin-top: -3px;
}

.superUltraSecret {
  position: fixed;
  top: -5000px;
  left: -5000px;
}

.thankYou {
  margin-bottom: 16px;
  display: none;
}

.waitingFeedback {
  margin: -150px auto 100px auto;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
}

.textoEscondido {
  display: none;
}

.textoEscondido.mostrar {
  display: inline;
}

.mobileDpdPlusWelcome {
  display: -webkit-inline-box;
}

.imgResponsive{
  width: 100%;
  height: auto;
  padding-left: 270px;
}

.hideBluredElement {
  position: absolute;
  top: -5000px;
}

#newTopic {
  display: none;
}


@media screen and (min-width: 1258px) {
  .menuButton {
    display: none;
  }
}

@media screen and (max-width: 1258px) {
  main {
    width: 90%;
    margin-left: 5%;
  }

  .mobile_inline{
    display: inline;
  }

  .topBar {
    height: auto;
    width: 110%;
    margin: 0 0 0 -5%;
  }

  .dropdown {
    margin: 18px 20px;
  }

  #dropdownMenuButton1 {
    padding: 0 2px;
  }

  .mobileDpdPlusWelcome {
    display: flex;
  }

  .lateralMenu {
    margin-left: -240px;
  }

  .menuButton {
    margin: 85vh 0 0 80vw;
    position: fixed;
    z-index: 1;
    color: #e7e7e7;
    background-color: #ed7839;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: #ed7839;
  }

  .topBarP {
    width: 100%;
  }

  .bodyArticleButton {
    z-index: 2;
  }

  .mainBodyLeft {
    margin: 0;
    display: inline;
  }

  .mainHeaderText {
    width: 100%;
    margin: 30px 0;
    text-align: center;
  }

  .mainHeaderButton {
    float: none;
    text-align: center;
  }

  .tableHeaderText {
    text-align: center;
  }

  .mainBodyRight {
    display: inline;
  }

  .mainVideo {
    width: 100%;
    margin-bottom: 30px;
  }

  .details {
    width: 100%;
    border-radius: 3px;
  }

  .imgResponsive{
    padding-left: 0;
  }
}
