html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.lateralMenu{
    background-color: #ffffff;
    float: left;
    width: 240px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.headerSlaca{
    background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
    height: 68px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    z-index: 1;
    position: relative;
    padding-top: 15px;
    
}

.menu{
    font-family: 'Quicksand', sans-serif;;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 220px;
}
.slacaMenuPhoto{
    width: 240px;
}

.menuItem{
    width: auto;
    height: 35px;  
    padding: 7px 0 7px 24px;  
}


.menuItemActive{
    background: #FDF1EB;
    width: 240px;

    display: flex;
    align-items: center;
    justify-content: flex-start;  
}

.menuItemActive::before{
    content: ' ';
    margin: -5px 24px 0 -24px;
    height: 40px;
    width: 10px;
    display: inline-block;
    background: linear-gradient(to bottom, white, orange);

}

header{
    width: auto;
    height: 68px;
}

hr{
    margin: 0 0;
    width: 240px;
    height: 4px;
    color: #000000; 
}


main{
    margin: 0 0 0 240px;
}

.defaultMargin{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.topBar{
    background-color: #FDF1EB;
    height: 68px;
    padding: 0 5%;
}

.mainBodyTop{
    display: flex;
    justify-content: space-between;
}

.topBarText{
    padding-top: 5px;
    margin-bottom:0; 
    z-index: 1;
}

.topBarP{
    margin-bottom: 0;
    color: hsla(0, 11%, 40%, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown{
    margin: 18px 3% 0 5%;
    z-index: 1;
}

#dropdownMenuButton1{
    background: #FDF1EB;
    color: hsla(0, 0%, 20%, 1);
    border-color: hsla(0, 0%, 80%, 1);
    height: 34px;
    width: 97px;
    padding: 0 0 0 6px;
}

.dropdown-toggle::after {
    padding-left: -3px;
}

.dpdText{
    font-size: 14px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 30px;
}

.welcome{
    z-index: 0;
    display: inline-flex;
}

.welcomeP{
    position: relative;
}

.welcome1{
    margin: 15px 0 0 auto;
    size: 14px;
    text-align: right;
}
.welcome2{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 1px 0 17px 0;
}

.yourPhoto{
    border: none;
    border-radius: 500px;
    height: 30px;
    width: 30px;
    z-index: 2;
    color: #FDF1EB;
    background-color: #ffd2bb;
}

.mainBodyLeft{
    margin: 20px 0 0 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.mainBodyRight{
    margin: 0 0 0 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.mainHeaderButton{
    float: right;
    align-self: self-end;
}

.mainHeaderButton button{
    margin: 0 0px 12px 5px;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
    color: #ffffff;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    align-items: center;
    text-align: center;
}

.mainHeaderText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;
    color: #ED7839;
    letter-spacing: 0.05em;
    width: 70%;
}

.mainBodyRight p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%; 
    float: left;
    

    text-align: left;
    letter-spacing: 0.05em;

}

.mainVideo{
    width: calc(100% - 30px);
}

.tableHeaderText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: right;
    letter-spacing: 0.05em;

    color: #ED7839;
}

ul li{
    list-style: none;
}

.details{
    height: 410px;

    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    letter-spacing: 0.02em;

    color: #5C5C5C;
    width: 30%;
}

.detailsHeader{
    background: #FDF1EB;
    padding: 11px 15px 9px 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
}


.detailsText{
    overflow-y: scroll; 
    height: 364px;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

.detailsText ul{
    padding: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: left;

    letter-spacing: 0.02em;
}

.bodyArticleBox{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 30px;
}

.bodyArticleHeader{
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #4E4E4E;
}

.bodyArticleIcons{
    margin: 0 30%;
    display: flex;
    justify-content: space-around;
}

.bodyArticleText{
    margin: auto 5%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #5C5C5C;
}

.bodyArticleButton{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;

    text-align: center;

    color: #FFFFFF;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    height: 32px;
    width: 133px;

    padding: 7px 14px;
    margin-top: -18px;
    z-index: 1;
}

.bodyArticleButtonDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.textDecoration{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: none;
    text-decoration: none;

    color: #ED7839;
}

.textDecoration.mostrar{
    display: inline;
}

#dots:hover{
    color:#ED7839;
}

.newTopic{
    margin-top: 15px;
    padding: 17px 25px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.newTopicName{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #ED7839;

    margin-bottom: 10px;
}

.newTopicQuestion{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #4D4D4D;

    margin-bottom: 11px;
}

.newTopicIcons{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.newTopicInsert{
    width: 100%;
}

.newTopicInsert input{
    width: 100%;
    margin-bottom: 15px;
}

.newTopicInsert textarea{
    height: 90px;
    resize: none;
    width: 100%;
}

.topicIcon{
    color: #ED7839;
}

.fa-heart{
    padding: 3px 6px;
}

.heart{
    background-color: #ED7839;
    color: #ffffff;
    height: 22px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.textoEscondido{
    display:none;
}
.textoEscondido.mostrar{
    display:inline;
}

/*.lateralMenu{
    background-color: #ffffff;
    float: left;
    width: 240px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
}
*/
.mobileDpdPlusWelcome{
    display: -webkit-inline-box;
}

.footerLogo{
    width: 100%;
    text-align: right;
}

@media screen and (min-width:1258px) {
    .menuButton{
        display: none;
    }    
    
}

@media screen and (max-width:1258px){
    main{
        width: 90%;
        margin-left: 5%;
    }
    
    .mainBodyTop{
        display: inline;
    }

    .topBar{
        height: auto;
        width: 110%;       
        margin: 0 0 0 -5%;
    }


    .dropdown{
        margin: 18px 20px;    
    }

    #dropdownMenuButton1{
        padding: 0 2px;
    }

    .mobileDpdPlusWelcome{
        display: flex;
    }
    

    .lateralMenu{
        margin-left: -240px;
    }
    
    .menuButton{
        margin: 93vh 0 0 80vw;
        position: fixed; 
        z-index: 1;
        color: #E7E7E7;
        background-color: #ED7839;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        border: #ED7839;
    }

    .topBarP{
        width: 100%;
    }

    .bodyArticleIcons{
        justify-content: space-between;
        display: flex;
    }

    .bodyArticleButton{
        z-index: 2;

    }

    .mainBodyLeft{
        margin: 0;
        display: inline;
    }

    .mainHeaderText{
        width: 100%;
        margin: 30px 0;
        text-align: center;
    }

    .mainHeaderButton{
        float: none;
        text-align: center;
    }

    .tableHeaderText{
        text-align: center;
    }

    .mainBodyRight{
        display: inline;
    }

    .mainVideo{
        width: 100%;
        margin-bottom: 30px;
    }

    .details{
        width: 100%;
        border-radius: 3px;
    }



}
